.card {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #cecece;
  border-radius: 20px;

  &__title {
    margin-bottom: 25px;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 90%;
    padding: 20px 0;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
      line-height: 20px;
      color:indigo;
      font-style: italic;
      font-weight: 700;

    &_title {
      position: absolute;
      width: 40%;
      height: 25px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #cecece;
    }
    &_customer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
    }
     
    &_decor,
    &_measures {
      display: flex;
      flex-direction: column;
      width: 90%;
      text-align: left;

      & p {
        margin: 0 0 8px 20px;
      }
    }
  }
}
